.center {
  display: table;
  width: auto;
  margin-left: auto;
  margin-right: auto;
}
.loginTop{
  height:60px;
  margin-bottom:10px;
}
.loginSubmit{
  width:400px;
  height:400px;
  background:#fff;
}
#Loglist{
  width:370px;
  height:50px;
  border-bottom:3px solid #ff6382;
}
.logA{
  display: block;
  float: left;
  width:60px;
  height:50px;
  margin-top:10px;
  text-align: center;
  line-height:60px;
  font-size:18px;
  text-align: center;
  margin-left:80px;
  text-decoration:none;
}
.diaryTitle{
  width:75%;
  height:30px;
}
.public{
  display:inline-block;
  padding:20px;
}
.diaryPublic{
  margin:-25px 0px 0px 180px;
}
.diary{
  margin:15px 0px 30px 92px;
}
.submit{
  margin-left:180px;
}
.diaryContext{
  width:75%;
  height:200px;
  margin-left:40px;
}
.score{
  display:inline-block;
  margin-left:30px;
}
.editor{
  display:inline-block;
  width:100%;
  height:40px;
  font-size:20px;
  text-align:center;
  line-height:25px;
  margin:20px 300px 0px 0px;
  border-bottom:3px solid #ff6382;
}
.today{
  padding:30px 0px 0px 90px;
}
.babyDay{
  padding:30px 0px 0px 280px;
}
.loginInput{
  width:80%;
  margin-top:30px;
}
.container{
  width:750px;
}
.diaryDate{
  width:100%;
  height:40px;
  font-family:Arial;
  margin-top:15px;
  font-size:16px;
}
.diaryContent{
  border:1px solid #000000;
  height:550px;
}
.loginBody{
  padding-top:100px;
  background-color:#fee1e3;
  padding-bottom:80px;
}

.logbtn{
  height:40px;
  background:#ff6382;
  margin-top:60px;
}
.errorColor{
  color:red;
}

.signbtn{
  background:#ff6382;
  margin-top: 30px;
}

#userExist,#samePassword {
  color: red;
}
.diaryNav{
  margin-bottom:80px;
}